@using IPTEntity.Servicios
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model UsuariosListadoViewModel
@{
	ViewData["Title"] = "Listado de usuarios";
	Layout = "../shared/_layout";
}
<h1>Listado de usuarios</h1>
@if (Model.Mensaje is not null)
{
	<div class=" alert alertalert-success" role="alert">
		@Model.Mensaje
	</div>
}

@if (Model.Usuarios is not null)
{
	<form method="post">
		<table class="table table-hover">
			<thead>
				<tr>
					<td>Hojas de vida</td>
					<td>Usuario</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var usuario in Model.Usuarios)
				{
					var user = await UserManager.FindByEmailAsync(usuario.Email);
					var rolesUsuario = await UserManager.GetRolesAsync(user);

					@if (rolesUsuario.Contains(Constantes.RolUsuario))
					{
						<tr>
							<td>
								<button class=" btn btn-primary me-2"
										asp-controller=""
										asp-action="DescargarArchivo"
										asp-route-email="@usuario.Email">
									Descarga CV
								</button>

							</td>
							<td>
								@usuario.Email
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</form>

}
else
{
	<p>No hay usuarios para mostrar</p>
}
