@model RegistroViewModel

@{
	ViewData["title"]= "Registro";
}



<h1 class="display-5 fw-bold">Regístrate</h1>

<div class="card" style="background-color: #056d90">
	<div class="card-body">
		<form asp-action="Registro">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="mb-3 display-5">
				<label asp-for="Email" class="form-label">Correo electrónico: </label>
				<input asp-for="Email" autocomplete="off" class="form-control" style="font-size: 2rem" />
				<span asp-validation-for="Email" class="text-danger" style="font-size: 1.5rem"></span>
			</div>

			<div class="mb-3 display-5">
				<label asp-for="Username" class="form-label">Nombre de usuario: </label>
				<input asp-for="Username" autocomplete="off" class="form-control" style="font-size: 2rem" />
				<span asp-validation-for="Username" class="text-danger" style="font-size: 1.5rem"></span>
			</div>

			<div class="mb-3 display-5">
				<label asp-for="Password" class="form-label">Contraseña: </label>
				<input asp-for="Password" class="form-control" style="font-size: 2rem" />
				<span asp-validation-for="Password" class="text-danger" style="font-size: 1.5rem"></span>
			</div>

			<button class="btn-primary btn display-" style="font-size: 2rem ">Regístrate</button>
			<a class="btn btn-success" asp-action="login" style="font-size: 2rem">Ya tengo cuenta</a>

		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}