﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="margin-top: 2px">
            <span class="nav-link text-white">Bienvenido, @User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="logout" asp-controller="usuarios">

                <button type="submit" class="nav-link btn btn-link text-white">
                    <strong>Cerrar sesión</strong>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link dark-text text-white" asp-controller="usuarios" asp-action="Registro">
                Registro
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dark-text text-white" asp-controller="usuarios" asp-action="Login">
                Iniciar sesión
            </a>
        </li>
    }
</ul>