@using IPTEntity.Entidades
@model OfertaLaboral
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.DependencyInjection
@{
}
@{
	ViewData["Title"] = "Editar Oferta Laboral";
}
<h2><strong>Editar oferta laboral: </strong></h2>

<form method="post" asp-controller="OfertaLaboral" asp-action="ActualizarOfertaLaboral">

	@* 	<div class="row mt-3" style="padding: 15px">
	<input type="text" class="form-control" name="NombreEmpresa" required value="" readonly />
	</div> *@
	<br />
	
	<div>
		<h3 class="mx-auto">Título de la oferta: </h3>
	</div>
	<div class="row" style="padding: 15px">
		<input type="text" class="form-control" placeholder="Titulo de la oferta: " name="TituloOferta" value="@Model.TituloOferta" required />
		<span asp-validation-for="TituloOferta" class="text-danger"></span>
	</div>

	<div>
		<br />
	</div>

	<div class="mb-3">
		<label class="form-label"><h3>Descripción de la oferta: </h3></label>
		<textarea type="text" class="form-control" rows="3" name="DescripcionOferta" placeholder="Funciones a desempeñar, experiencia solicitada, etc." value="@Model.DescripcionOferta"></textarea>
	</div>

	<div class="mb-4"><h3>Seleccione la profesión que se ajusta al cargo: </h3></div>
	<div class="mb-4">
		<select id="DropListProfesiones" name="Profesion" class="form-select"></select>
	</div>

	<div class="d-flex justify-content-between align-items-center">
		<div>
			<button type="submit" class="btn btn-primary">Enviar</button>
			<button type="reset" class="btn btn-secondary">Cancelar</button>
		</div>
	</div>
</form>

<script>
	var select = document.getElementById("DropListProfesiones");


	var opciones = [
		"Ingeniería Mecánica",
		"Ingeniería Industrial",
		"Ingeniería Mecátronica",
		"Ingeniería Forestal",
		"Ingeniería Catastral",
		"Ingeniería Qúímica",
		"Ingeniería de Software",
		"Ingeniería de Sistemas",
		"Bachiller",
		"Técnico en programación de software",
		"Técnico en mantenimiento industrial",
		"Enfermería",
		"Servicios generales",
		"Guarda de seguridad",
		"Asistente administrativo virtual",
		"Servicio al cliente en línea",
		"Traductor o intérprete",
		"Trabajo de investigación en línea",
		"Redacción de contenido",
		"Programador web",
		"Edición de video o audio",
		"Tutor en línea",
		"Trabajo de diseño gráfico",
		"Consultoría en accesibilidad",
		"Empleado de tienda en línea",
		"Asistente de biblioteca",
		"Auxiliar de almacén",
		"Operador de servicio al cliente",
		"Empacador en línea de productos",
		"Asistente de limpieza en empresas",
		"Recepcionista",
		"Auxiliar de cafetería",
		"Ayudante de cocina",
		"Empleado de tienda minorista",
		"Recepcionista en empresas o instituciones",
		"Trabajador de ensamblaje en fábricas",
		"Auxiliar de lavandería"

	];

	opciones.forEach(function (opcion) {
		var option = document.createElement("option");
		option.text = opcion;
		select.add(option);
	});

	select.addEventListener("change", function () {
		var selectedValue = select.value;
	});
</script>

