@{
	ViewData["Title"] = "Home Page";

}



<div class="text-center py-xxl-2">
	<h1 class="display-4">Bienvenido a <strong>IPT</strong></h1>

	<img src="~/LogoIPT.jpg" class="rounded-3" />

</div>




