@{
    ViewData["Title"] = "Home Page";
   
}


<div style="margin-top: -220px">
<div class="text-center" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, 50%);">
    <h1 class="display-4">Bienvenido a <strong>IPT</strong></h1>

    <img src="~/LogoIPT.jpg">
   
</div>
</div>



