@using IPTEntity.Entidades
@model SolicitudEmpleo
@{
	ViewData["Title"] = "Solicitud Empleo";
}
<h2><strong>Llena los campos: </strong></h2>
<div>
	<br />
</div>
<form method="post" asp-controller="SolicitudEmpleo" asp-action="Crear" enctype="multipart/form-data">
	<div class="row">
		<div class="col">
			<input type="text" class="form-control" placeholder="Número de cédula: " name="UsuarioId" required />
			<span asp-validation-for="UsuarioId" class="text-danger"></span>
		</div>
		<div class="col">
			<input type="text" class="form-control" placeholder="Nombres: " name="Nombres" required />
			<span asp-validation-for="Nombres" class="text-danger"></span>
		</div>
		<div class="col">
			<input type="text" class="form-control" placeholder="Apellidos: " name="Apellidos" required />
			<span asp-validation-for="Apellidos" class="text-danger"></span>
		</div>
	</div>

	<div>
		<br />
	</div>

	<div class="mb-3">
		<label class="form-label"><h3>Resumen de tu experiencia laboral: </h3></label>
		<textarea type="text" class="form-control" rows="3" name="ResumenCV" placeholder="Ingresa tu experiencia laboral"></textarea>
	</div>

	<div>
		<h3>Ingresa aquí tu CV: </h3>
	</div>

	<div class="mb-3">
		<input type="file" name="file" id="fileInput" class="btn btn-primary btn-file">
	</div>

	<input type="hidden" id="fileName" name="fileName">
	<input type="hidden" id="filePath" name="filePath">

	<div class="mb-3">
		<div>
			<br />
		</div>
		<h3><label class="form-label">Tipo de discapacidad: </label></h3>
		<select name="TipoDiscapacidad" class="form-select">
			<option value="Persona con paraplejia">Persona con paraplejia</option>
			<option value="Persona sorda">Persona sorda</option>
		</select>
	</div>

	<div>
		<h3>Estado de empleabilidad: </h3>
	</div>

	<div class="form-check">
		<input class="form-check-input" type="radio" name="EstadoEmpleado" value="Empleado" />
		<label>Empleado</label>
	</div>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="EstadoEmpleado" value="Desempleado" checked />
		<label>Desempleado</label>
	</div>

	<br />
	<div>
		<button type="submit" class="btn btn-primary">Enviar</button>
		<button type="reset" class="btn btn-secondary">Cancelar</button>
	</div>

</form>

<script>
	document.getElementById('fileInput').addEventListener('change', function(event) {
		var file = event.target.files[0];
		if (file) {
			document.getElementById('fileName').value = file.name;
			document.getElementById('filePath').value = URL.createObjectURL(file);
		}
	});
</script>

